@layer components {
    /* Container styles */
    .ld-container {
        @apply mx-auto px-4 sm:px-6 lg:px-8 py-6;
        max-width: var(--breakpoint-2xl);
    }

    /* Buttons */
    .btn {
        @apply inline-flex gap-1 justify-center items-center text-white hover:opacity-90 transition-all focus:ring-2 focus:ring-offset-2 focus:outline-none font-medium rounded-md text-sm px-5 py-2.5 text-center focus:ring-blue-300 dark:focus:ring-blue-800;
    }

    .btn-primary {
        @apply inline-flex gap-1 justify-center items-center text-white hover:opacity-90 transition-all font-medium rounded-md text-sm px-5 py-2.5 text-center bg-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary/50 dark:focus:ring-blue-800;
    }

    .btn-secondary {
        @apply inline-flex gap-1 justify-center items-center text-gray-800 hover:opacity-90 transition-all focus:ring-2 focus:ring-offset-2 focus:outline-none font-medium rounded-md text-sm px-5 py-2.5 text-center bg-gray-100 hover:bg-gray-200 focus:ring-gray-100 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-500;
    }

    .btn-danger {
        @apply inline-flex gap-1 justify-center items-center text-white hover:opacity-90 transition-all focus:ring-2 focus:ring-offset-2 focus:outline-none font-medium rounded-md text-sm px-5 py-2.5 text-center bg-red-500 focus:ring-red-300 dark:focus:ring-red-800;
    }

    .btn-success {
        @apply inline-flex gap-1 justify-center items-center text-white hover:opacity-90 transition-all focus:ring-2 focus:ring-offset-2 focus:outline-none font-medium rounded-md text-sm px-5 py-2.5 text-center bg-green-500 focus:ring-green-300 dark:focus:ring-green-800;
    }

    .btn-default {
        @apply inline-flex gap-1 justify-center items-center hover:opacity-90 transition-all focus:ring-2 focus:ring-offset-2 focus:outline-none font-medium rounded-md text-sm px-5 py-2.5 text-center text-gray-800 dark:text-white bg-gray-200 dark:bg-gray-800 focus:ring-gray-100 dark:focus:ring-green-800;
    }

    .btn-warning {
        @apply inline-flex gap-1 justify-center items-center text-white hover:opacity-90 transition-all focus:ring-2 focus:ring-offset-2 focus:outline-none font-medium rounded-md text-sm px-5 py-2.5 text-center bg-orange-500 focus:ring-orange-300 dark:focus:ring-orange-800;
    }

    .btn-info {
        @apply inline-flex gap-1 justify-center items-center text-white hover:opacity-90 transition-all focus:ring-2 focus:ring-offset-2 focus:outline-none font-medium rounded-md text-sm px-5 py-2.5 text-center bg-blue-500 focus:ring-blue-300 dark:focus:ring-blue-800;
    }

    /* Outline buttons */
    .btn-outline-primary {
        @apply inline-flex gap-1 justify-center items-center text-primary hover:opacity-90 transition-all focus:ring-2 focus:ring-offset-2 focus:outline-none font-medium rounded-md text-sm px-5 py-2.5 text-center border border-primary bg-transparent focus:ring-primary/50;
    }

    .btn-outline-secondary {
        @apply inline-flex gap-1 justify-center items-center text-gray-800 hover:opacity-90 transition-all focus:ring-2 focus:ring-offset-2 focus:outline-none font-medium rounded-md text-sm px-5 py-2.5 text-center border border-gray-300 bg-transparent hover:bg-gray-100 focus:ring-gray-100 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-500;
    }

    .btn-outline-danger {
        @apply inline-flex gap-1 justify-center items-center text-red-500 hover:opacity-90 transition-all focus:ring-2 focus:ring-offset-2 focus:outline-none font-medium rounded-md text-sm px-5 py-2.5 text-center border border-red-500 bg-transparent focus:ring-red-300;
    }

    .btn-outline-success {
        @apply inline-flex gap-1 justify-center items-center text-green-500 hover:opacity-90 transition-all focus:ring-2 focus:ring-offset-2 focus:outline-none font-medium rounded-md text-sm px-5 py-2.5 text-center border border-green-500 bg-transparent focus:ring-green-300;
    }

    .btn-outline-warning {
        @apply inline-flex gap-1 justify-center items-center text-orange-500 hover:opacity-90 transition-all focus:ring-2 focus:ring-offset-2 focus:outline-none font-medium rounded-md text-sm px-5 py-2.5 text-center border border-orange-500 bg-transparent focus:ring-orange-300;
    }

    /* Badge */
    .badge {
        @apply inline-flex items-center justify-center px-2 py-1 text-xs font-medium text-gray-800 bg-gray-100 dark:bg-gray-900/20 dark:text-gray-400 rounded-full;
    }

    .badge-primary {
        @apply inline-flex items-center justify-center px-2 py-1 text-xs font-medium text-white bg-brand-500 dark:bg-primary/20 rounded-full;
    }

    .badge-success {
        @apply inline-flex items-center justify-center px-2 py-1 text-xs font-medium text-green-800 bg-green-100 dark:bg-green-900/20 dark:text-green-400 rounded-full;
    }

    .badge-info {
        @apply inline-flex items-center justify-center px-2 py-1 text-xs font-medium text-blue-800 bg-blue-100 dark:bg-blue-900/20 dark:text-blue-400 rounded-full;
    }

    .badge-warning {
        @apply inline-flex items-center justify-center px-2 py-1 text-xs font-medium text-orange-800 bg-orange-100 dark:bg-orange-900/20 dark:text-orange-400 rounded-full;
    }

    .badge-danger {
        @apply inline-flex items-center justify-center px-2 py-1 text-xs font-medium text-red-800 bg-red-100 dark:bg-red-900/20 dark:text-red-400 rounded-full;
    }

    .badge-secondary {
        @apply inline-flex items-center justify-center px-2 py-1 text-xs font-medium text-gray-700 bg-gray-200 dark:bg-gray-800 dark:text-gray-300 rounded-full;
    }

    /* Inputs */
    .form-control {
        @apply rounded border-0 px-4 py-2.5 text-sm leading-5 text-gray-800 ring-1 ring-gray-200 h-10 w-full placeholder:text-gray-400 focus:outline-primary focus:ring-2 focus:ring-primary disabled:cursor-not-allowed disabled:opacity-50 dark:ring-gray-700 dark:focus:border-brand-800 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30;
    }

    /* Select specific styling with chevron icon */
    select.form-control {
        @apply appearance-none cursor-pointer;
        padding-right: 2.5rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%2398a2b3' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.2' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
        background-position: right 1.2rem center;
        background-repeat: no-repeat;
        background-size: 1.5em 1.5em;
    }

    /* Dark mode chevron for select */
    .dark select.form-control {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%2398a2b3' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.2' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    }

    .form-control-file {
        @apply cursor-pointer border-0 file:border-0 focus:file:ring-primary ring-1 ring-gray-200 h-10 w-full overflow-hidden rounded-md bg-transparent text-sm text-gray-500 transition-colors file:mr-5 file:-mt-0.5 file:border-collapse file:cursor-pointer dark:ring-gray-700 file:rounded-l-lg file:py-3 file:px-4 file:text-sm file:text-gray-700 placeholder:text-gray-400 file:bg-gray-100 hover:file:bg-gray-100 dark:bg-gray-900 dark:text-gray-300 dark:file:bg-white/[0.03] dark:file:text-gray-400 focus:ring-2 focus:ring-primary focus-visible:ring-2 focus-visible:ring-primary;
    }

    .form-control-textarea {
        @apply rounded border-0 px-4 py-2.5 text-sm leading-5 text-gray-800 ring-1 ring-gray-200 w-full placeholder:text-gray-400 focus:outline-primary focus:ring-2 focus:ring-primary disabled:cursor-not-allowed disabled:opacity-50 dark:ring-gray-700 dark:focus:border-brand-800 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30;
    }

    .form-label {
        @apply block font-medium mb-1.5 text-sm text-gray-700 dark:text-gray-300;
    }

    .form-checkbox {
        @apply h-4 w-4 border checked:border-primary text-primary border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 dark:focus:ring-primary dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600;
        appearance: none;
        print-color-adjust: exact;
        --tw-shadow: 0 0 #0000;
        background-origin: border-box;
        flex-shrink: 0;
    }

    .form-checkbox:checked {
        @apply bg-primary;
        print-color-adjust: exact;
        background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3e %3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 0.55em 0.55em;
        background-position: 50%;
    }

    .form-control-combobox {
        @apply rounded border-0 px-4 py-2.5 text-sm leading-5 text-gray-800 ring-1 ring-gray-200 h-10 w-full inline-flex items-center justify-between gap-2 whitespace-nowrap placeholder:text-gray-400 focus:outline-primary focus:ring-2 focus:ring-primary disabled:cursor-not-allowed disabled:opacity-50 dark:ring-gray-700 dark:focus:border-brand-800 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 cursor-pointer appearance-none;
    }

    /* Input Group */
    .form-input-group {
        @apply flex w-full;
    }

    .form-input-group .form-control {
        @apply rounded-none min-w-0 flex-1;
    }

    .form-input-group > .form-control:first-child {
        border-top-left-radius: 0.375rem;
        border-bottom-left-radius: 0.375rem;
    }

    .form-input-group > .form-control:last-child {
        border-top-right-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
    }

    /* Checkbox styles */
    .tableCheckbox:checked ~ span span {
        @apply opacity-100;
    }
    .tableCheckbox:checked ~ span {
        @apply border-brand-500 bg-brand-500;
    }

    .form-check-input:checked ~ span {
        @apply border-brand-500 dark:border-brand-500 border-[6px];
    }

    .taskCheckbox:checked ~ .box span {
        @apply opacity-100;
    }
    .taskCheckbox:checked ~ p {
        @apply text-gray-400 line-through;
    }
    .taskCheckbox:checked ~ .box {
        @apply border-brand-500 bg-brand-500 dark:border-brand-500;
    }

    /* Task styles */
    .task {
        transition: all 0.2s ease; /* Smooth transition for visual effects */
    }

    .task.is-dragging {
        border-radius: 0.75rem;
        box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1),
            0px 1px 2px 0px rgba(16, 24, 40, 0.06);
        opacity: 0.8;
        cursor: grabbing; /* Changes the cursor to indicate dragging */
    }

    /* Table styles */
    .table-responsive {
        @apply space-y-3 border-t border-gray-100 dark:border-gray-800 overflow-x-auto overflow-y-visible;
    }

    .table {
        @apply w-full dark:text-gray-300;
    }

    .table-thead {
        @apply bg-gray-50 capitalize;
    }

    .table-thead-th {
        @apply p-2 bg-gray-50 dark:bg-gray-800 dark:text-white text-left px-5;
    }

    .table-thead-th-last {
        @apply text-center;
    }

    .table-tr {
        @apply border-b border-gray-100 dark:border-gray-800;
    }

    .table-td {
        @apply px-5 py-4 sm:px-6;
    }

    .table-td-checkbox {
        @apply p-2 px-5;
    }
}
